extends common/_layout
block navbar
    include common/_navbar
block content
    .page-header
        h3 #{blog.title}
    .row
        .span9
            .media
                .media-body !{blog.content}
                include common/_duoshuo
        .span3
            include common/_sidebar
                                
block script