extends common/_layout
block navbar
    include common/_navbar
block content
    .page-header
        h1 Snode
            small.pull-right ——记录在nodejs学习过程中踩过的那些坑！
    
    .row
        .span9
            .media
                .media-body
                    h4.media-heading Media heading
                    |Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

            .media
                .media-body
                    h4.media-heading Media heading
                    |Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            .media
                .media-body
                    h4.media-heading Media heading
                    |Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

            include common/_pager
        .span3
            tbox
                .tbox_header
                     span.col_fade 近期文章
                .tbox_content
                     ul.unstyled
                        li
                            p
                                a(href="#", title="nodejs  base64转换问题。") nodejs  base64转换问题。
                        li
                            p
                                a(href="#", title="nodejs  base64转换问题。") nodejs  base64转换问题。
                                
block script
    script(charset="UTF-8")