.well.sidebar-nav
    ul.nav.nav-list
        li.nav-header Blog
        li.active
            a(href="#") Blog List
        li
            a(href="/admin/blog/add") Blog Add
        li
            a(href="#") Blog Edit
        li
            a(href="#") Blog Delete
//.well
