// Navbar start
.navbar.navbar-fixed-top
    .navbar-inner
        .container
            span.brand Snode
            .nav-collapse.collapse.pull-right
                ul.nav
                    li.divider-vertical
                    li
                        a(href="https://github.com/ChunMengLu/coffee-snode", target="_blank") GitHub
                            img(height="20", src="/images/github.png", width="20")
// Navbar end
