// Navbar start
.navbar.navbar-fixed-top
    .navbar-inner
        .container
            a.brand
                img(src="/icon/logo.png", title="Node.js专业中文社区")
            .nav-collapse.collapse.pull-right
                ul.nav
                    li.active
                        a 文章
                    li.divider-vertical
                    li
                        a(href="https://github.com/ChunMengLu/coffee-snode", target="_blank") GitHub
                            img(height="20", src="/images/github.png", width="20")
// Navbar end
